<h1>Display your Pirate here</h1>
<p> Pirate Name: <%= @pirate[:name] %> </p>

<h2>Display your first ship here</h2>
<p> Ship 1 Name: <%= @ship_1[:name] %></p>

<h2>Display your second ship here</h2>
<% unless @ship_2.nil? %>
<p> Ship 2 Name: <%= @ship_2[:name] %></p>
<% end %>
